.celendarTatooImg img{
    object-fit: cover;
    width: 300px;
    height: 300px;
    vertical-align:middle;
    transition: 150ms;
}

.celendarTatooImg {
    min-width: 300px;
    display: inline-block;
    overflow: hidden;
}

.celendar {
    width: auto;
}

.celendarTatooImg:hover img {
    cursor: pointer;
    transform: scale(1.2);
}